In [1]:
import pandas as pd
from sklearn import datasets
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
boston = datasets.load_boston()
dir(boston)

['DESCR', 'data', 'feature_names', 'filename', 'target']

In [3]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.DataFrame(boston.target, columns=['House Median Value'])

In [4]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
y.head()

   House Median Value
0                24.0
1                21.6
2                34.7
3                33.4
4                36.2

In [6]:
# Train and Fit Model
model = RandomForestRegressor()
model.fit(X, y)
pickle.dump(model,open('Regression_Model.pkl','wb'))